

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}



body {
    display: flex;
    height: 100vh;
    background-color: black;    
    justify-content: center;
    
    
}

main {
    display: flex;
    max-width: 1440px;
    max-height: 810px;
    margin: auto;
}

.section2 {
    background-color: white;
    max-height: 900px;
    max-width: 865px;
}

.left {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 435px;
    height: 100vh;
    max-height: 810px;
    position: relative;
    color: white;
} 

.cardFront img, .cardBack img{
    position: absolute;  
    width: 400px;
}

.cardFront img{
    margin: 170px 150px;
}


.cardBack img{
    margin: 425px 235px;
}

.dadosCardFront {
    position: absolute;
    margin: 170px 150px;
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;  
}

.circles {
    display: flex;
    flex-direction: row;
}

.circle1 {
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    margin: 25px
}

.circle2 {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 35px -10px; 
}

.cardNumberImg {
    font-size: 25px;
    letter-spacing: 3px;
    width: 350px;
    height: 30px;
    margin: 30px 25px 0px 25px;
}

.nameValidityImg {
    display: flex;
    flex-direction: row;
}

.cardNameImg {
    font-size: 12px;
    letter-spacing: 2px;
    width: 280px;
    height: 30px;
    margin: 23px 0px 0px 25px;
}

.cardValidityImg {
    font-size: 12px;
    letter-spacing: 2px;
    width: 70px;
    height: 30px;
    margin: 23px 0px 0px 18px;
}

.dadosCardBack{
    position: absolute;
    margin: 525px 555px;
    width: 50px;
    height: 25px;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;  
}

.rightBefore{
    background-color: white;
    margin: 240px 310px; 
    justify-content: flex-start;
    width: 350px;  
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input{
    border: 1px solid #d6d6d8;
    width: 339px;
    height: 39px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;  
}

.borderGradient {
    border: none;
    height: 42px;
    border-radius: 8px;
    position: relative;
}

.borderGradient.name, .borderGradient.number{
    width: 342px; 
}

.divCardName{
    margin-bottom: 12px;
}

input::placeholder{
    color: #d6d6d8;
}

#cardName{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cardNumber{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.divCardValidity, .divCardCvc{
    width: 170px;
    padding-top: 15px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    height: 88px;
}

.borderGradient.cardValidity{
    width: 74px;
    margin-right: 10px;  
}

.cardCvc{
    margin-left: 5px;
}

#month, #year{
    width: 71px;
    height: 39px;
    margin-right: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cardCvc{
    width: 162px;
    height: 39px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.borderGradient.cardCvc{
    width: 167px;
}

label {
    color: hsl(278, 68%, 11%);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2.5px;
    margin: 10px 0px;
}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-size: 16px;
    width: 340px;
    height: 45px;
    margin-top: 40px;
    border-radius: 8px;
    cursor: pointer;  
}

/* Error */

small{
    font-size: 12px;
    height: 20px;
    color: hsl(0, 100%, 66%);
    margin-top: 5px;
    display: none; 
}

.smallName, .smallNumber {
    margin-right: 150px;
}

.smallCardCvc{
    margin-left: 5px;
}

/*pg 2 */

.iconComplete img{
    margin-top: 40px;
    width: 70px
}

.rightAfter{
    text-align: center;
    height: 300px;
    display: none;
}

h1{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;
}

h2 {
    margin-top: 10px;
    font-size: 16.5px;
    font-weight: 500;
    color: #929297;
    
}

/*

'linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));'; 
